@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.banner {
  height: 70vh;
  background-image: url("images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.banner nav ul {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: block;
  background-color: transparent;
}

.banner nav ul li {
  float: right;
}

.banner nav ul li:first-child {
  float: left;
}

.banner nav ul li:first-child a {
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  font-size: 24px;
}

.banner nav ul li:first-child a:hover {
  text-decoration: none;
}

.banner nav ul li:last-child {
  display: none;
}

.banner nav ul li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 16px;
  font-size: 16px;
  font-family: "Alata", sans-serif;
  color: white;
}

.banner nav ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.banner .article-container {
  width: 100%;
  height: 100%;
}

.banner .article-container .article {
  border: 3px solid white;
  padding: 20px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  width: 450px;
  font-weight: lighter;
  margin: 100px 0 0 50px;
}

.vr {
  padding: 100px 50px;
  position: relative;
  overflow: hidden;
}

.vr .content {
  padding-left: 200px;
}

.vr .content .description {
  width: 550px;
  padding: 50px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 750px;
  margin: 100px 50px;
}

.vr .content .description h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: lighter;
}

.vr .content .description p {
  padding-top: 20px;
  font-family: "Alata", sans-serif;
  opacity: 0.8;
}

.vr .description-hidden {
  padding-top: 50px;
  background-color: white;
  display: none;
}

.vr .description-hidden h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
}

.vr .description-hidden p {
  padding-top: 20px;
  font-family: "Alata", sans-serif;
  opacity: 0.8;
  text-align: center;
}

.creations {
  padding: 50px;
}

.creations .heading {
  padding-bottom: 50px;
}

.creations .heading h1 {
  float: left;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 20px;
}

.creations .heading button {
  float: right;
  font-family: "Alata", sans-serif;
  display: block;
  padding: 5px 15px;
  background-color: white;
  border: 1px solid black;
}

.creations .heading button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.creations .heading::after {
  content: "";
  clear: both;
  display: table;
}

.creations .image-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.creations .image-grid .image {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  min-width: 25%;
  padding: 30px;
  position: relative;
}

.creations .image-grid .image img {
  width: 100%;
}

.creations .image-grid .image img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.creations .image-grid .image p {
  position: absolute;
  bottom: 50px;
  left: 130px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
}

.footer {
  background-color: black;
  width: 100%;
  color: white;
  padding: 40px;
}

.footer h2 {
  font-family: "Varela Round", sans-serif;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer span {
  display: inline-block;
  padding: 10px;
  font-family: "Alata", sans-serif;
}

.footer span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer .social-media {
  float: right;
  text-align: right;
}

.footer .social-media i {
  padding: 10px;
  font-size: 20px;
}

.footer .social-media i:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer .social-media p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.6;
  padding-top: 10px;
}

.menu-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 20px;
  display: none;
}

.menu-container h2 {
  float: left;
  font-family: "Varela Round", sans-serif;
}

.menu-container span {
  float: right;
  padding: 5px;
  font-size: 20px;
}

.menu-container span:hover {
  color: tomato;
}

.menu-container p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  padding: 15px;
}

.menu-container p:hover {
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 1319px) {
  .vr .content {
    padding-left: 100px;
  }
  .vr .content .description {
    left: 650px;
  }
  .creations .image-grid .image p {
    bottom: 50px;
    left: 100px;
  }
}

@media screen and (max-width: 1213px) {
  .vr .content {
    padding-left: 0;
  }
  .vr .content .description {
    left: 550px;
  }
}

@media screen and (max-width: 1213px) {
  .vr .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .vr .content .description {
    display: none;
  }
  .vr .description-hidden {
    display: block;
  }
}

@media screen and (max-width: 755px) {
  .vr {
    width: 100%;
  }
  .vr .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 100%;
  }
  .vr .content img {
    width: 100%;
  }
}

@media screen and (max-width: 1027px) {
  .creations .image-grid .image p {
    bottom: 40px;
    left: 70px;
  }
}

@media screen and (max-width: 877px) {
  .creations .image-grid .image p {
    bottom: 40px;
    left: 30px;
  }
}

@media screen and (max-width: 797px) {
  .creations .image-grid .image {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    min-width: 50%;
  }
  .creations .image-grid .image p {
    bottom: 40px;
    left: 50px;
  }
}

@media screen and (max-width: 453px) {
  .creations .image-grid .image {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    min-width: 100%;
  }
  .creations .image-grid .image img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .creations .image-grid .image p {
    bottom: 40px;
    left: 50px;
  }
}

@media screen and (max-width: 605px) {
  .footer {
    text-align: center;
  }
  .footer .social-media {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  .banner nav ul li {
    display: none;
  }
  .banner nav ul li:first-child {
    display: block;
  }
  .banner nav ul li:last-child {
    display: block;
  }
  .banner .article-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px;
  }
  .banner .article-container .article {
    height: 200px;
    margin: 30px 0 0 0;
    font-size: 40px;
  }
}

@media screen and (max-width: 467px) {
  .creations {
    padding: 10px;
  }
  .vr .description-hidden h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 395px) {
  .creations .heading h1 {
    float: left;
    display: block;
    padding-bottom: 20px;
  }
  .creations .heading button {
    float: left;
    display: block;
    margin-left: 20px;
  }
  .vr {
    padding: 50px 10px;
  }
  .vr .description-hidden h1 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */