@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$round: 'Varela Round', sans-serif;
$alata:'Alata', sans-serif;
$josefin: 'Josefin Sans', sans-serif;

.banner {
  height: 70vh;
  background-image: url('images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  nav {
    ul {
      list-style-type: none;
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;
      display: block;
      background-color: transparent;
      li {
        &:first-child {
          float: left;
          a {
            font-family: $round;
            font-weight: bolder;
            font-size: 24px;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &:last-child {
          display: none;
        }
        float: right;
        a {
          text-decoration: none;
          color: black;
          display: inline-block;
          padding: 16px;
          font-size: 16px;
          font-family: $alata;
          color: white;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
  .article-container {
    width: 100%;
    height: 100%;
    .article {
      border: 3px solid white;
      padding: 20px;
      color: white;
      font-family: $josefin;
      font-size: 50px;
      width: 450px;
      font-weight: lighter;
      margin: 100px 0 0 50px;
    }
  }
}

.vr {
  padding: 100px 50px;
  position: relative;
  overflow: hidden;
  .content {
    padding-left: 200px;
    .description {
      width: 550px;
      padding: 50px;
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 750px;
      margin: 100px 50px;
      h1 {
        font-family: $josefin;
        font-size: 50px;
        font-weight: lighter;
      }
      p {
        padding-top: 20px;
        font-family: $alata;
        opacity: 0.8;
      }
    }
  }
  .description-hidden {
    padding-top: 50px;
    background-color: white;
    display: none;
    h1 {
      font-family: $josefin;
      font-size: 50px;
      font-weight: lighter;
      text-align: center;
    }
    p {
      padding-top: 20px;
      font-family: $alata;
      opacity: 0.8;
      text-align: center;
    }
  }
}

.creations {
  padding: 50px;
  .heading {
    h1 {
      float: left;
      font-family: $josefin;
      padding-left: 20px;
    }
    button {
      float: right;
      font-family: $alata;
      display: block;
      padding: 5px 15px;
      background-color: white;
      border: 1px solid black;
      &:hover {
        color: white;
        background-color: black;
        cursor: pointer;
      }
    }
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    padding-bottom: 50px;
  }
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    .image {
      flex: 25%;
      min-width: 25%;
      padding: 30px;
      position: relative;
      img {
        width: 100%;
        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
      p {
        position: absolute;
        bottom: 50px;
        left: 130px;
        color: white;
        font-family: $josefin;
        font-size: 22px;
      }
    }
  }
}

.footer {
  background-color: black;
  width: 100%;
  color: white;
  padding: 40px;
  h2 {
    font-family: $round;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  span {
    display: inline-block;
    padding: 10px;
    font-family: $alata;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .social-media {
    float: right;
    text-align: right;
    i {
      padding: 10px;
      font-size: 20px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    p {
      font-family: $josefin;
      font-size: 18px;
      font-weight: bold;
      opacity: 0.6;
      padding-top: 10px;
    }
  }
}

.menu-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 20px;
  display: none;
  h2 {
    float: left;
    font-family: $round;
  }
  span {
    float: right;
    padding: 5px;
    font-size: 20px;
    &:hover {
      color: tomato;
    }
  }
  p {
    font-family: $josefin;
    font-size: 25px;
    padding: 15px;
    &:hover {
      background-color: lightgray;
      color: black;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1319px) {
  .vr {
    .content {
      padding-left: 100px;
      .description {
        left: 650px;
      }
    }
  }

  .creations {
    .image-grid {
      .image {
        p {
          bottom: 50px;
          left: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 1213px) {
  .vr {
    .content {
      padding-left: 0;
      .description {
        left: 550px;
      }
    }
  }
}

@media screen and (max-width: 1213px) {
  .vr {
    .content {
      display: flex;
      justify-content: center;
      .description {
        display: none;
      }
    }
    .description-hidden {
      display: block;
    }
  }
}

@media screen and (max-width: 755px) {
  .vr {
    width: 100%;
    .content {
      display: flex;
      justify-content: center;
      padding: 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1027px) {
.creations {
    .image-grid {
      .image {
        p {
          bottom: 40px;
          left: 70px;
        }
      }
    }
  }
}


@media screen and (max-width: 877px) {
  .creations {
    .image-grid {
      .image {
        p {
          bottom: 40px;
          left: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 797px) {
  .creations {
    .image-grid {
      .image {
        flex: 50%;
        min-width: 50%;
        p {
          bottom: 40px;
          left: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 453px) {
  .creations {
    .image-grid {
      .image {
        flex: 100%;
        min-width: 100%;
        img {
          height: 200px;
          object-fit: cover;
        }
        p {
          bottom: 40px;
          left: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 605px) {
  .footer {
    .social-media {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
    }
    text-align: center;
  }
  .banner {
    nav {
      ul {
        li {
          display: none;
          &:first-child {
            display: block;
          }
          &:last-child {
            display: block;
          }
        }
      }
    }
    .article-container {
      display: flex;
      justify-content: center;
      padding: 50px;
      .article {
        height: 200px;
        margin: 30px 0 0 0;
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 467px) {
  .creations {
    padding: 10px;
  }
  .vr {
    .description-hidden {
      h1 {
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 395px) {
  .creations {
    .heading {
      h1 {
        float: left;
        display: block;
        padding-bottom: 20px;
      }
      button {
        float: left;
        display: block;
        margin-left: 20px;
      }
    }
  }
  .vr {
    padding: 50px 10px;
    .description-hidden {
      h1 {
        font-size: 30px;
      }
    }
  }
}